body, html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.big-container {
    display: flexbox;
}

img {
    width: 8rem;
}

.small-container {
    display: flexbox;
    flex-direction: column;
    padding: 0.5rem;
    border: solid 3px black;
}